#ham-menu {
  visibility: hidden;
}

ul {
  font-size: 0;
}

li {
  font-size: 1.5rem;
  letter-spacing: normal;
  list-style: none;
  display: inline-block;
  padding: 1%;
  border: 2px solid black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

a {
  text-decoration: none;
  color: #71f;
}